---
{{ ansible_managed | comment }}

{% if ansible_hostname == {{ init_node }} %}
cluster-init: true
{% else %}
server: {{ hostvars['{{ init_node }}']['ansible_tailscale0']['ipv4']['address'] }}
{% endif %}

tls-san:
  - {{ k8s_api_hostname }}
node-ip: {{ hostvars[inventory_hostname]['ansible_tailscale0']['ipv4']['address'] }}
node-external-ip: {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
flannel-backend: none
disable-network-policy: true
disable: traefik