---
{{ ansible_managed | comment }}

{% if ansible_hostname == {{ init_node }} %}
cluster-init: true
{% else %}
server: {{ hostvars['{{ init_node }}']['ansible_tailscale0']['ipv4']['address'] }}
{% endif %}

tls-san:
  - "api.axiom.technat.ch"
node-ip: {{ ansible_facts.eth0.ipv4.address }}
node-external-ip: 
flannel-backend: none
disable-network-policy: true
disable: traefik